body {
    background-color: #111827;
}
.testimonials {
    width: 100%;
    height: 647px;
    box-sizing: border-box;
    padding: 96px 2px 96px 2px;
}
.container-fluid {
    height: 476px;
}

#bttn1 {
    width: 125px;
    height: 28px;
    background-color: #374151;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    color: #D1D5DB;
    margin: auto;
    font-weight: 500;
    padding-top: 3px;
}

#intro {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #D1D5DB;
    margin-top: 16px;
    margin-bottom: 48px;
}

.test {
    background-color: #1F2937;
    height: 356px;
    border-radius: 12px;
    padding: 48px;
    box-sizing: border-box;
}
.col-xl-4 {
    margin-bottom: 20px;
}
.circle {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: #9CA3AF;
    margin: auto;
    align-content: center;
    padding-left: 18px;
}
#test-text {
    color: #D1D5DB;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 15.5px;
}
.customer-details {
    text-align: center;
    color: #D1D5DB;
}
#customer {
    color: #D1D5DB;
    font-size: 20px;
    font-weight: 600;
}
#cust-det {
    color: #D1D5DB;
    font-size: 14px;
    font-weight: 400;
}

.about {
    width: 100%;
    height: 962px;
    padding-top: 96px;
    padding-bottom: 96px;
}
#bttn2 {
    width: 125px;
    height: 28px;
    background-color: #374151;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    color: #D1D5DB;
    margin: auto;
    margin-bottom: 48px;
    font-weight: 500;
    padding-top: 3px;
}

.pic-container {
    display: grid;
}
#pic-bg {
    width: 400px;
    height: 480px;
    background-color: #374151;
    border: 8px solid #111827;
    margin-top: 40px;
    z-index: 1;
    grid-area: content;
}
#my-pic {
    width: 400px;
    height: 480px;
    border: 8px solid #111827;
    margin-left: 40px;
    z-index: 2;
    grid-area: content;
}


.description {
    justify-content: center;
}
#header-main {
    font-size: 30px;
    color: #F9FAFB;
    margin-bottom: 24px;
}
.desc-text {
    color: #F9FAFB;
    font-size: 16px;
}
#links {
    color: #F9FAFB;
}